version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: items_storage
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data


  app:
    build: .
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@db:5432/items_storage
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data:
