name: Test Flask Docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-server:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t my-flask-app .

      - name: Run Docker container
        run: |
          docker run -d --name test-server -p 8080:8080 my-flask-app
          # Даем контейнеру пару секунд на старт
          sleep 5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install requests

      - name: Test Flask endpoints
        run: |
          python3 client.py


          

      - name: Cleanup
        run: |
          docker stop test-server
          docker rm test-server