name: Test Flask Docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-server:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build -t my-flask-app .

      - name: Run Docker container
        run: |
          docker run -d --name test-server -p 5000:5000 my-flask-app
          # Даем контейнеру пару секунд на старт
          sleep 5

      - name: Test Flask response
        run: |
          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:8080/)
          echo "Server returned HTTP code: $RESPONSE"
          if [ "$RESPONSE" -eq 200 ]; then
            echo "::notice ::✅ Server responded correctly with 200"
          else
            echo "::error ::❌ Server responded with $RESPONSE"
            exit 1
          fi


          

      - name: Cleanup
        run: |
          docker stop test-server
          docker rm test-server